<!DOCTYPE html>
<html>
<head>
    <title>Add Employee Information</title>
    <style>
        body {
            background-image: url("/static/{{ bg_image }}");
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            color: black;
            font-family: Avenir;
            text-align: center;
        }

        form {
            background-color: rgba(255, 255, 255, 0.8);
            display: inline-block;
            padding: 20px;
            border-radius: 10px;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <h1 style="color: DodgerBlue;">Employee Database</h1>
    <h2>Project by {{ my_name }}</h2>

    <form action="/addemp" method="POST" autocomplete="on">
        Employee ID:<br>
        <input type="number" name="emp_id" style="height:25px; font-size:14pt; color:grey;" size="40"><br><br>

        First Name:<br>
        <input type="text" name="first_name" style="height:25px; font-size:14pt; color:grey;"><br><br>

        Last Name:<br>
        <input type="text" name="last_name" style="height:25px; font-size:14pt; color:grey;"><br><br>

        Primary Skills:<br>
        <input type="text" name="primary_skill" style="height:25px; font-size:14pt; color:grey;"><br><br>

        Location:<br>
        <input type="text" name="location" style="height:25px; font-size:14pt; color:grey;"><br><br>

        <button type="submit" style="background: grey; height: 45px; width: 200px; color: white;">UPDATE DATABASE</button><br><br>
        <button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color: white;">GET EMPLOYEE INFORMATION</button><br><br>
    </form>

    <br><br><br><a href="/about">About Us</a>
</body>
</html>
